[submodule "externals/AndroidX.Data"]
	path = externals/AndroidX.Data
	url = https://github.com/moljac/HolisticWare.Xamarin.Tools.Bindings.XamarinAndroid.AndroidX.Data.git
[submodule "externals/Core.Math.Data"]
	path = externals/Core.Math.Data
	url = https://github.com/HolisticWare/HolisticWare.Core.Math.Data.git
