[submodule "externals-submodules/AndroidX.Data"]
	path = externals-submodules/AndroidX.Data
	url = https://github.com/moljac/HolisticWare.Xamarin.Tools.Bindings.XamarinAndroid.AndroidX.Data.git
[submodule "externals-submodules/Core.Math.Data"]
	path = externals-submodules/Core.Math.Data
	url = https://github.com/HolisticWare/HolisticWare.Core.Math.Data.git
